*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   width: 100%;
   height: 100%; 
   background-color: #F6E6E6 ;
}

.header{
    width: 100%;
    height: 124px;
    background: #F6E6E6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
}

.main{
    width: 100%;
    height: 100%;
    background-color: #F6E6E6 ;
}

.sombra{
    width: 100%;
    height: 90%;
    background: #F6E6E6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
}

.titulo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 30px;
    padding-left: 40px;
}
.title{
    display: flex;
}
.home_bar{
    display: flex;
    width:50px;
    height: 50px;
    padding-right: 40px;
    padding-top: 10px;
}
.home{
    width: 23px;
    height: 23px;
    display: flex; 
}

.slide{
    display: flex;
    width: 100%;
    height: 50%;
    padding-top: 10px;
}
.container-slide{
    display: flex;
    justify-content: space-between;
    width: 60vw;
    height: 30vh;
    margin: 0vh auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px black;
}

.container-items{
    position: absolute;
    display: flex;
    width: 60vw;
    height: 30vh;
    border-radius: 10px;
    overflow: hidden;
}

.item{
    width: 60vw;
    height: 50vh;
    transition: all 1s;
}

.item:first-child{
    margin-left: -100%;
}

.item img{
    width: 60vw;
    height: 30vh;
    border-radius: 10px;
}

.action-button{
    font: bold 30px  sans-serif;
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    color: #00000000;
    user-select: none;
    z-index: 1;
}
.action-button:hover{
    color: #fff;
    background-color:#00000055;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}

.apresentar{
    display: flex;
    padding-top: 10px;
    width: 100%;
    height: 40px;
    text-align: center;
    justify-content: center;
}

.eu{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 35px;
}

.card{
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: space-around;
}

.cards{
    width: 18rem;
    display: flex;
}

@media ( max-width:647px){
    .card{
        display: flex;
        width: 100%;
        height: max-content;
        justify-content: space-around;
    }
    
    .cards{
        width: 18rem;
        display: flex;
    }

    .eu{
        display: flex;
        width: 100%;
        flex-direction: column;
        padding-top: 45px;
        padding-left: 45px;
        gap: 35px;

    }
    
}